
/* BARRA DE NAVEGACIÓN */
.menu_cls {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: rgb(204, 103, 56);
  }
  
  .menu_cls a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .menu_cls a:hover {
    background-color: rgb(255, 255, 255);
    color: #071a3a;
    padding: 16px;
  }
  
  @media all and (max-width: 800px) {
    .menu_cls {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .menu_cls {
      flex-flow: column wrap;
      padding: 0;
    }
    .menu_cls a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .menu_cls li:last-of-type a {
      border-bottom: none;
    }
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgb(204, 103, 56);
    background-color: rgb(204, 103, 56);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(204, 103, 56);
}

/* Sección de texto principal - Aside Bar - Footer*/

.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    grid-template-rows: repeat(4, auto);
}

.contenedor .Temas_Relacionados{
    padding: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: auto;
    position: sticky;
    top: 50px;
}

.contenido{
    grid-column: span 3;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.Temas_Relacionados{
    grid-row: 1/3;
    grid-column: 4;
    grid-template-columns: 100%;
    grid-template-rows: 50% 33% 33%;
    background: rgb(204, 103, 56);
    display: block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    flex-direction: column;
    display: flex;
}


.Temas_Relacionados h1{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color:black;
    text-decoration: none;
}

.TemaRela{
    align-items: center;
    color: white;
}

.TemaRela img{
    max-width: 90px;
}

.contenedor .footer{
    background: white;
    padding: 2px;
    border-radius: 4px;
}

.contenedor .footer{
    background: rgb(204, 103, 56);
    color: black;
    grid-column: span 4;
}

@media screen and (max-width: 768px){
    .contenedor .contenido{
        grid-column: 1 / -1;
    }
    .contenedor .Temas_Relacionados{
            grid-column: 1 ;
            grid-row: 2;
    }
}

/* IMAGENES */

#foto #foto2 #foto3{
    width: "100" height="100
}

/* Tablas - Atributos y Elementos */

.table_cls {
    border-collapse: collapse;
    font-family: Arial Unicode MS;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.table_cls p{
    text-align: justify;
}

.table_cls th {
    background-color: rgb(204, 103, 56);
    color: white;
}

.table_cls td, .table_cls th {
    border: 1px solid black;
    padding: 10px;
}

.table_cls tr:hover {
    background-color: rgb(226, 179, 157);
}
